<div class="grid">
  <div class="col-1-1">
    <%= link_to "사용중인 CMS, Editor의 문제점과 아이디어", "https://docs.google.com/document/d/1KE9uxLuS2aA5LCE5kptgsaYrGE2bEHcCG1eNtB7SlCA/edit?usp=sharing", target: '_blank' %>
  </div>
</div>
