<section id="redactor-modal-image-snapper" class="modal">

  <div class="ra_widget">
    <div class="ra_widget_content">
      <div class="snapper">
        <%= icon("hand-o-left image_snap_to_left") %>
        <%= icon("ban image_snap_to") %>
        <%= icon("hand-o-right image_snap_to_right") %>
      </div>
    </div>
  </div>

</section>
