header.main {
  border-bottom: 1px solid $c_border_light;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  a#logo {
    @extend .hv;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: bold;
    font-variant: small-caps;
    color: $c_text_light;
    &:hover {
      color: $c_light_blue;
    }
    &:active, &:focus {
      color: $c_dark_blue;
    }
  }
  form {
    .fields {
      input.text {
        @extend .nanum;
        border: 1px solid $c_border;
        font-size: 0.9rem;
        line-height: 1.2;
        width: 220px;
        padding: 0.4rem 0.2rem;
        border-radius: 2px;
        position: relative;
        &:after {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          content: '\f123';
          font-family: "fontAwesome";
          z-index: 999;
        }
      }
    }
  }
  ul#suggestions {
    position: absolute;
    z-index: 2;
    ul {
      background-color: white;
      border: 1px solid $c_border;
      li {
        padding: 0.4rem 1rem 0.4rem 0.2rem;
        @extend .nanum;
        font-size: 0.9rem;
        &.ui-state-focus {
          background-color: #f2f2f2;
        }
      }
    }
  }
  nav {
    display: block;
    text-align: right;
    a {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }
  }
}

section.main {
  margin: 80px 0 0 0;
  .article-list {
    .article {
      padding-bottom: 100%;
      position: relative;
      overflow: hidden;

      &.text-only {
        border: 1px solid $c_border_light;
        .card {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          overflow: hidden;

          h2 {
            position: relative;
            top: 0;
            @include translate(0, 0);
            padding: 1rem;
            a {
              color: $c_text;
              text-shadow: none;
            }
          }

          p {
            padding: 0 1rem;
            text-align: justify;
            display: block;
            a {
              font-size: 0.8rem;
              line-height: 1.8;
              @extend .nanum;
              color: $c_text_light;
              &:hover {
                color: $c_text;
              }
            }
          }

          .info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: white;
            padding: 0.5rem;
            font-size: 0.8rem;
            color: $c_text_light;
            line-height: 1.2;
            @extend .hv;
            a {
              @extend .hv;
              font-size: 0.8rem;
              line-height: 1.2;
            }
          }

        }
      }

      .card {
        h2 {
          background-color: transparent;
          position: absolute;
          top: 50%;
          @include translate(0, -50%);
          width: 100%;
          z-index: 1;
          text-align: center;
          padding: 0 1rem;
          a {
            @extend .nanum;
            font-size: 1.4rem;
            line-height: 1.4;
            color: white;
            text-shadow: 0 0 3px $c_text;
          }
        }

        figure {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 3px;
          overflow: hidden;
        }

        p {
          display: none;
        }

        .info {
          position: absolute;
          width: 100%;
          text-align: right;
          padding: 8px;
          bottom: 0;
          color: $c_text_dark_white;
          font-size: 0.9rem;
          @extend .hv;
          a.ilink {
            color: $c_text_dark_white;
            position: absolute;
            left: 8px;
            &:hover {
              border-bottom-color: $c_text_dark_white;
            }
          }
        }

      }

    } // article
  } // article-list
}

footer.main {
  text-align: center;
  margin: 5rem 0;
  font-size: 0.8rem;
  @extend .hv;
  color: #999;
}
