header {
  a#logo {
    @extend .hv;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: bold;
    font-variant: small-caps;
    color: $c_text_light;
    height: 50px;
    line-height: 50px;
    &:hover {
      color: $c_light_blue;
    }
    &:active, &:focus {
      color: $c_dark_blue;
    }
  }
  nav {
    display: block;
    text-align: right;
    padding-top: 10px;
    a {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }
  }
}

section {
}

footer {
  text-align: center;
  margin: 5rem 0;
  font-size: 0.8rem;
  @extend .hv;
  color: #999;
}
